<style type="text/css">

body{
  font-family: 'Open Sans', Helvetica, Sans-serif;
  }
  label{
    font-weight: 400;
    margin-left: 8px;
    width: calc(100% - 20px);
  }

  .inline-block-element{
    display: inline-block;
    vertical-align: top;
  }

  .possible_answer_container{
    margin: 8px 0;
  }
  
.hide, .correct_answer{
    display: none;
}
  .wrapper{
     display: block;
    width: 560px;
    margin: 50px auto;
    /*padding: 57px;*/
    /*background-image: url(http://media.nu.nl/m/m1oxdmjae3mn_wd1280.jpg/cd-recensie-robin-schulz---prayer.jpg);*/
    background-size: contain;
    background-repeat: no-repeat;
    background: #eaeaea;

  }
.question{
    min-height: 408px;
}
.user-profile-image{
  border-radius: 50%;
  /*background-image: url(http://dummyimage.com/50x50/000/fff);*/
  background-color: #eaeaea;
  width: 36px;
  height: 36px;
  margin: auto;
    float: none;
}
.brand{
    background-color: #EF499D;
    color: white;
    /*text-transform: uppercase;*/
    /* position: absolute; */
    /* top: -57px; */
    width: 100%;
    height: 100px;
    /* left: -56px; */
    text-align: center;
    line-height: 72px;
    font-size: 24px;
    font-weight: bold;
/*    position: relative;
    top: -57px;
    left: -57px;*/
}
.progress-bar{
  height: 160px;
  border-radius: 4px;
  width: 4px;
  background-color: #eaeaea;
  margin: 16px auto;
  position: relative;
  float: none;
}

.progress-bar-status{
  width: 4px;
  /*height: 16px;*/
  border-radius: 0 0 4px 4px;
  background-color: #7DB4EC;
  left: 0;
    position: absolute;
    float: none;
    bottom: 0;
}
.score{
  text-align: center;
  color: #1BCE1B;
  font-size: 24px;
}

.text{
  font-size: 20px;
  margin-bottom: 24px;
  font-weight: 100;
}

.song-waveform{
  width: calc(100% - 32px);
  height: 65px;
  overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 16px;
    background-color: rgba(0,0,0,0.24);
}
.song-waveform-image{
  width: 100%;
  position: absolute;
}
.song-waveform-progress{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #7DB4EC;
}

.user-name{
    margin-top: 16px;
    text-align: center;
    font-size: 10px;
    color: #999;
    text-transform: capitalize;
}
.card{
  background: white;
  width: 448px;
  padding: 16px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12);
  position: relative;
  z-index: 1;
  top: -48px;
  margin: 20px auto;
  border-radius: 4px;
}
.genre-container{
  width: 448px;
}

.loading-img{
  max-width: 100%;
  max-height: 100%;
}
.genre{
    background: #eaeaea;
    border: none;
    margin: 8px;
    padding: 16px;
    border-radius: 4px;
}
.genre:hover{
    background-color: #7DB4EC;
}
.genre:focus{
  outline: none;
}

.final-score-verdict{
    text-align: center;
    width: 100%;
    min-height: 56px;
    margin-bottom: 16px;
    font-size: 24px;
}
.user-name-input{
  width: calc(100% - 16px);
  height: 40px;
  margin: 8px 8px 40px 8px;
}

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<%= javascript_include_tag asset_path('socket_helper.js'); %>

<script type="text/javascript">
   user_name = '';
   users_data = {}
   self_user_id = null
   genres = [];
   selected_genre = '';
   game_id = '';
   current_question = {};
   question_count = 0;
   max_question_count = 5;
   start_game_flag = false
   game_data = null
   dispatcher = new WebSocketRails(window.location.host + '/websocket');



  $(document).ready(function(){
    dispatcher.bind('new_message', function(data) {
      console.log(data.message);
    })    

    function get_genres(){
      url = '/get_genres';
      $.ajax({
          type : 'GET',
          url : url
        }).done(function(data){
          genres = data.genres;
          genre_spans = '';
          for (var i=0; i< genres.length; ++i){
            genre = genres[i];
            genre_spans += "<button class='genre inline-block-element'> " + genre + "</button>"
          } 
          $('.genre-selection').html(genre_spans);
          $('button.genre').click(function(){

            selected_genre = $(this).html().trim();
            get_user_name();
            // console.log(selected_genre);
            start_game();
            $('.genre-container').css('display', 'none');
            $('.question').css('display', 'none');
            $('.waiting-container').css('display', 'block');
            

          });

        })
        .fail(function(jqXHR, textStatus){
          alert("Unable to make request: " + jqXHR.responseText);
      });
    }

    
    $(".chat_box").keyup(function(event){
      if(event.keyCode == 13){
          message = {"message": $('.chat_box').val()}
          send_message(message);
      }
    });

    add_binders();
    // get_user_name();
    get_genres();
   // start_game();
    //get_question_from_socket();
  
});


</script>

<!-- <input type="text" class="chat_box"/> -->
<div class="wrapper">
  <div class='brand'>Music Mash</div>
  <div class="genre-container card">
    <h4>Enter your Name</h4>
    <input type="text" class="user-name-input"/>
    <h4>Choose a Genre</h4>
    <div class="genre-selection"></div>
  </div>
  <div class="waiting-container card" style="display: none">
    <div class="row-md-2">
      <h4> Finding a worth opponent for you </h4>
    </div>
    <div class="row-md-8">
      <img src="<%= image_path('loading.gif')%>" class="loading-img"/>
    </div>
  </div>
  <div class="question dIB row card" style="display: none">
    <div class="col-md-2">
      <div class="user_data dIB user-profile-image user-1"></div>
      <div class="user-1 user-name"></div>
      <div class="progress-bar">
        <div class="progress-bar-status user-1"></div>
      </div>
      <div class="score user-1">0</div>
    </div>
    <div class="content col-md-8">
      <div class="users_data hide"></div>
      <div class="text"></div>
      <!-- <div class="song"></div> -->
      <div class="possible_answers"></div>
      <div class="correct_answer"></div>
    </div>
    <div class="col-md-2">
      <div class="user_data dIB user-profile-image user-2"></div>
      <div class="user-2 user-name"></div>
      <div class="progress-bar">
        <div class="progress-bar-status user-2"></div>
      </div>
      <div class="score user-2">0</div>
    </div>
    <div class="song-waveform">
      <div class="song-waveform-progress"></div>
      <img src="" class="song-waveform-image">
    </div>
  </div>
  <div class="final-score card" style="display:none">
    <div class="score-container row">
      <div class="final-score-verdict"></div>
      <div class="col-md-6">
        <div class="user-profile-image user-1"></div>
        <div class="user-1 user-name"></div>
        <div class="score user-1">0</div>
      </div>
      <div class="col-md-6">
        <div class="user-profile-image user-2"></div>
        <div class="user-2 user-name"></div>
        <div class="score user-2">0</div>
      </div>
    </div>
  </div>
</div>
